<div id="stories">

    <div class="story" ng-repeat="story in stories" data-id="{{story.user.participant.teamId}}" data-last-updated="{{story.lastUpdated}}" data-photo="{{story.user.media.url}}">
        <a href="{{story.link}}">
            <span><u style="background-image:url({{story.user.media.url}});"></u><span>
            <span class="info">
                <strong>{{story.user.participant.teamName}}</strong>
                <span class="time">{{story.lastUpdated}}</span>
            </span>
        </a>
        <ul class="items">
            <li ng-repeat="post in story.posts" data-id="{{post.id}}" data-time="{{post.date}}" class="{{story.items.seen}}">
                <a href="{{post.media.url}}" data-type="{{post.media.type}}">
                    <img src="{{post.media.url}}">
                </a>
            </li>
        </ul>
    </div>

</div>
